
<div class="container-fluid">
    <div class=row>

        


        <section class="col-sm-6 col-sm-push-3">
            <div class="row">
            <article>
                <h2>Amazing Museums</h2>
                <div class="col-sm-3">
                <img src="http://lorempixel.com/200/200/city/1"/>
                </div>
                
                <div class="col-sm-9">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
            </article>


            <article>
                <h2>Amazing Museums</h2>
                <div class="col-sm-3">
                <img src="http://lorempixel.com/200/200/city/2"/>
                </div>
                
                <div class="col-sm-9">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
            </article>

            <article>
                <h2>Amazing Museums</h2>
                <div class="col-sm-3">
                <img src="http://lorempixel.com/200/200/city/3"/>
                </div>
                
                <div class="col-sm-9">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
            </article>

            </div>
</section>


<aside class="col-sm-3 col-sm-pull-6">
            <h2 class="title">Things to do</h2>
            <ul>
                <li><a href:"http://www.bing.com">abc</a></li>
                <li><a href:"http://www.bing.com">def</a></li>
                <li><a href:"http://www.bing.com">ghi</a></li>
                <li><a href:"http://www.bing.com">jkl</a></li>
            </ul>
        </aside>

            <aside class="col-sm-3">
            <h2 class="title">Things to do</h2>
            <ol id="orderedlist">
                <li>abccccc</li>
                <li>defffff</li>
                <li>ghiiiii</li>
                <li>jklllll</li>
            </ol>
        </aside>
        
        
      </div> 
    </div>