
</br>
</br>

<div class="container-fluid">
                                <div class="row">
   
                                        

                                                <div class="col-sm-9 col-md-9">
                                        
                                                        <div class="panel panel-default">
                                                                <div class="panel-body">
                                                                        <h4>Main News here1</h4>
                                                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                                                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                                                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                                                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                                                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                                                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                                                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                                                </div>
                                                        </div>

                                                </div>
                                         
                                    
                                

                                                    <div class="col-sm-3 col-md-3">
                                                        

                                                            <div class="panel panel-default">
                                                                <div class="panel-body">
                                                                        <h4>Main News here2</h4>
                                                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                                                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                                                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                                                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                                                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                                                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                                                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                                                </div>
                                                                </div>


                                                            <div class="panel panel-default">
                                                                <div class="panel-body">
                                                                        <h4>Main News here3</h4>
                                                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                                                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                                                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                                                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                                                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                                                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                                                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                                                </div>
                                                        </div>



                                                            <div class="panel panel-default">
                                                                <div class="panel-body">
                                                                        <h4>Main News here4</h4>
                                                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                                                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                                                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                                                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                                                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                                                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                                                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                                                </div>
                                                        </div>
                                                            
                                                    </div>
                                                
                            </div>



</div>



















<div class='container'>
  <header>
    <h1>jQuery Box Blur Demo</h1>
  </header>
  
  
  
  
  <div class='inner-container' id='inner-container'>


    <article class="col-sm-3 col-md-3">
        <p> &quot;Don't cry because it's over, smile because it happened.&quot; </p>
      <p class='client-name'> Dr. Seuss123 </p>
    </article>


    <article class="col-sm-3 col-md-3"> 
      <p> &quot;In three words I can sum up everything I've learned about life: it goes on.&quot; </p>
      <p class='client-name'> Robert Frost </p>
    </article>



    <article class="col-sm-3 col-md-3">
      <p> &quot;To live is the rarest thing in the world. Most people exist, that is all.&quot; </p>
      <p class='client-name'> Oscar Wilde </p>
    </article>

    <article class="col-sm-3 col-md-3">
      <p> &quot;There are only two ways to live your life. One is as though nothing is a miracle. The other is as though everything is a miracle.&quot; </p>
      <p class='client-name'> Albert Einstein </p>
    </article>

  
  </div>
</div>









<link href="Content/app2.css" rel="stylesheet" />
<script type="text/javascript" src="Scripts/script2.js"></script>








